<div class="text-center">
  <p>
    {{ $ctrl.pagination.count || 0 }}
    {{ $ctrl.pagination.count === 1 ? 'risultato totale' :
    'risultati totali'}}
  </p>
  <nav>
    <ul class="pagination">
      <li>
        <a
          ng-click="$ctrl.changePage({ page: 1 })"
          ng-class="{ disabled: $ctrl.page <= 1 }">
          Prima
        </a>
      </li>
      <li>
        <a
          ng-click="$ctrl.changePage({ page: $ctrl.page - 1 })"
          ng-class="{ disabled: $ctrl.page <= 1 }">
          &lt;
        </a>
      </li>
      <li>
        <span>{{ $ctrl.page }} di {{ $ctrl.pagination.page_count }}</span>
      </li>
      <li>
        <a
          ng-click="$ctrl.changePage({ page: $ctrl.page + 1 })"
          ng-class="{ disabled: $ctrl.page === $ctrl.pagination.page_count }">
          &gt;
        </a>
      </li>
      <li>
        <a
          ng-click="$ctrl.changePage({ page: $ctrl.pagination.page_count })"
          ng-class="{ disabled: $ctrl.page === $ctrl.pagination.page_count }">
          Ultima
        </a>
      </li>
    </ul>
  </nav>
</div>
