<div class="rapid-filters">
  <label ng-if="$ctrl.label">{{ $ctrl.label }}</label>
  <div class="btn-group" ng-class="{ 'upper-space': !$ctrl.label }">
    <label class="btn"
          ng-repeat="button in $ctrl.buttons track by button.label"
          ng-class="button.class || 'btn-default'"
          ng-model="$ctrl.model"
          uib-btn-radio="button.value"
          ng-change="$ctrl.onChange({ model: $ctrl.model })">
      <i class="fa {{ button.icon }}"></i> {{ button.label }}
    </label>
  </div>
</div>
