<div class='page-header'>
  <div class="row">
    <div class="col-lg-8">
      <h1>
        {{ $ctrl.headerTitle }}
        <span
          ng-if="$ctrl.helpText"
          ng-class="$ctrl.helpText.class"
          uib-popover="{{ $ctrl.helpText.text }}"
          popover-trigger="'{{ $ctrl.helpText.trigger || 'mouseenter' }}'"
          popover-placement="{{ $ctrl.helpText.placement || 'bottom' }}"
          class="header-hep-text">
          <i class="fa fa-question-circle fa-lg"></i>
        </span>
        <a ng-if="$ctrl.addButton"
          class="btn btn-default btn-add-xs"
          ng-click="$ctrl.onAction({ action: $ctrl.addButton.action })">
          <i class="fa {{ $ctrl.addButton.icon || 'fa-plus' }}"></i>
          {{ $ctrl.addButton.label || 'Aggiungi' }}
        </a>
      </h1>
    </div>
    <div class="col-lg-4" ng-transclude="next"></div>
  </div>
  <div class="under-title row" ng-transclude="under"></div>
</div>
